<h1><%= @director.name %></h1>

<a href="<%= @director.image_url %>">
    <img src="<%= @director.image_url %>">
    <%= @director.image_url %>
</a>
    



<p>DOB: <%= @director.dob %></p>
<br>
<h4>Biography</h4>
<p><%= @director.bio %></p>

<div class = "row">
    
        <a class = "btn btn-default" href="/directors">Go Back</a>
        <a class = "btn btn-default" href="/directors/<%= @director.id %>/edit_form">Edit director</a>
        <a class = "btn btn-default" href="/delete_director/<%= @director.id %>">Delete director</a>
    
</div>