<h1><%= @actor.name %></h1>

<a href="<%= @actor.image_url %>">
    <img src="<%= @actor.image_url %>">
    <%= @actor.image_url %>
</a>
    



<p>DOB: <%= @actor.dob %></p>
<br>
<h4>Biography</h4>
<p><%= @actor.bio %></p>

<div class = "row">
    
        <a class = "btn btn-default" href="/actors">Go Back</a>
        <a class = "btn btn-default" href="/actors/<%= @actor.id %>/edit_form">Edit actor</a>
        <a class = "btn btn-default" href="/delete_actor/<%= @actor.id %>">Delete actor</a>
    
</div>